---
layout: default
---
<section id="cover">
    {% include home/cover.html %}
</section>


<div id="work-container">
    <section id="project">
        {% include home/project.html %}
    </section>

    <section id="client">
        {% include home/client.html %}
    </section>
</div>

<div id="about-container">
    <section id="about">
        {% include home/about.html %}
    </section>

    <section id="tagline">
        {% include home/tagline.html %}
    </section>
</div>

<section id="service">
    {% include home/service.html %}
</section>

<section id="contact">
    {% include home/contact.html %}
</section>

<section id="social-media">
    {% include home/social-media.html %}
</section>




