@import "plugins"
@font-face
  font-family: 'Gotham-Black'
  src: url('/fonts/gotham/Gotham-Black.ttf')

@font-face
  font-family: 'Gotham-Bold'
  src: url('/fonts/gotham/Gotham-Bold.ttf')

@font-face
  font-family: 'Gotham-Book'
  src: url('/fonts/gotham/Gotham-Book.ttf')

@font-face
  font-family: 'Gotham-Light'
  src: url('/fonts/gotham/Gotham-Light.ttf')

@font-face
  font-family: 'Gotham-Medium'
  src: url('/fonts/gotham/Gotham-Medium.ttf')

@font-face
  font-family: 'Gotham-Thin'
  src: url('/fonts/gotham/Gotham-Thin.ttf')

@keyframes slideInLeft
  from
    transform: translate3d(-500%, 0, 0)
    opacity: 0
  to
    transform: translate3d(0, 0, 0)
    opacity: 1

body
  color: #3b3b3b
  margin-top: 100px

//swiper button
.swiper-button-next
  right: 30px!important

.swiper-button-prev
  left: 30px!important

.loader
  position: fixed
  left: 0px
  right: 0
  top: 0px
  width: 100%
  height: 100%
  z-index: 9999
  background: white
  .loader-container
    position: absolute
    width: 100%
    top: 50%
    transform: translateY(-50%)
    -webkit-transform: translateY(-50%)
    -moz-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    display: table
    left: 0
    right: 0
    margin-left: auto
    margin-right: auto
    .loader-image
      display: block
      margin-left: auto
      margin-right: auto
      height: 120px
    .loader-text
      font-size: 16px
      text-align: center
      font-family: "Gotham-Book", sans-serif

.no-gutter
  padding-left: 0
  padding-right: 0

nav
  &.navbar-default
    //height: 100px
    background-color: white
    .navbar-header
      .navbar-brand
        margin-top: 35px
        padding: 0
        outline: none
        height: auto
        margin-left: 0
        .brand-logo
          transition: all 100ms ease-in-out
          height: 35px

    .navbar-right
      .navbar-list
        .navbar-link
          font-family: "Gotham-Bold", sans-serif
          text-transform: uppercase
          color: #3b3b3b
          padding: 50px 30px 30px
          //transition: all 300ms ease-in-out
          font-size: 16px
          &:hover
            background-color: #e00076
            color: white
        &.active
          .navbar-link
            background-color: #e00076
            color: white
.slide__img
  background-size: cover
  background-position: top center
  background-repeat: no-repeat


#cover
  overflow: hidden
  position: relative
  height: 500px
  .container-fluid
    height: inherit
    #bootstrap-touch-slider
      //opacity: 1
      height: inherit
      .carousel-inner
        height: inherit
        .item
          height: inherit
          .slide-image
            height: inherit
            object-fit: cover
            object-position: center
          .slide-text
            left: 0
            top: 50%
            transform: translateY(-50%)
            -webkit-transform: translateY(-50%)
            -moz-transform: translateY(-50%)
            -o-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            right: 0
            margin: auto
            padding: 0
            position: absolute
            text-align: left
            .slide-header
              padding: 0
              color: #ffffff
              font-size: 120px
              text-transform: uppercase
              letter-spacing: 1px
              display: inline-block
              -webkit-animation-delay: 2s
              animation-delay: 2s
              -ms-animation-delay: 2s
              -o-animation-delay: 2s
              font-family: "Gotham-Medium", sans-serif
              margin-top: 0
              margin-bottom: 0
            .slide-image-animation
              padding: 0
              display: block
              margin-left: auto
              margin-right: auto
              -webkit-animation-delay: 2s
              animation-delay: 2s
              -ms-animation-delay: 2s
              -o-animation-delay: 2s
            .slide-description
              font-family: "Gotham-Medium", sans-serif
              padding: 0
              color: #ffffff
              margin-top: 50px
              font-size: 24px
              font-style: normal
              line-height: 30px
              margin-bottom: 30px
              letter-spacing: 1px
              display: block
              -webkit-animation-delay: 2s
              animation-delay: 2s
              -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out
              transition: background 0.3s ease-in-out, color 0.3s ease-in-out

#project
  position: relative
  #project-container-fluid
    max-width: 100%
    margin-left: auto
    margin-right: auto
    .header-section
      padding-top: 80px
      .header
        margin: 0
        font-family: "Gotham-Book", sans-serif
        text-transform: uppercase
        font-size: 44px
        letter-spacing: 4px
    .swiper-container
      position: relative
      margin-top: 50px
      margin-bottom: 80px
      .swiper-wrapper
        width: 100%
        height: 260px
        .swiper-slide
          position: relative
          .swiper-image
            z-index: 1
          .swiper-bg
            z-index: 2
            position: absolute
            width: 100%
            height: 100%
            background-color: #727272
            top: 0
            opacity: .4
          .preloader
            z-index: 5
          .caption
            position: absolute
            z-index: 3
            bottom: 20px
            right: 30px
            color: white
            .swiper-client
              display: block
              font-family: "Gotham-Black", sans-serif
              text-transform: uppercase
              text-align: right
              letter-spacing: 1px
              font-size: 18px
              max-width: 220px
              margin-left: auto
              margin-right: 0
            .swiper-project
              display: block
              font-family: "Gotham-Book", sans-serif
              text-transform: uppercase
              letter-spacing: 1px
              font-size: 20px
              max-width: 84%
              text-align: right
              float: right

#client
  position: relative
  background-color: #f4f4f4
  #client-container-fluid
    .header-section
      padding-top: 70px
      padding-bottom: 70px
      .header
        margin: 0
        font-family: "Gotham-Light", sans-serif
        font-size: 36px
        letter-spacing: 1px
    .swiper-container
      max-width: 970px
      margin-left: auto
      margin-right: auto
      position: relative
      margin-bottom: 80px
      .swiper-wrapper
        width: 100%
        .swiper-slide
          position: relative
          background-color: white
          margin-top: 10px
          min-height: 319px
          display: -webkit-box
          display: -ms-flexbox
          display: -webkit-flex
          display: flex
          -webkit-box-pack: center
          -ms-flex-pack: center
          -webkit-justify-content: center
          justify-content: center
          -webkit-box-align: center
          -ms-flex-align: center
          -webkit-align-items: center
          align-items: center
          outline: none
          .swiper-image
            display: block
            //max-width: 70%
            //min-width: 70%
            margin-left: auto
            margin-right: auto
            &.horizontal-logo
              max-width: 75%
              height: auto
            &.big-logo
              max-width: 60%
              height: auto
          .caption
            opacity: 0
            position: absolute
            height: 100%
            width: 100%
            transition: all 300ms ease-in-out
            -webkit-transition: all 300ms ease-in-out
            -ms-transition: all 300ms ease-in-out
            -o-transition: all 300ms ease-in-out
            -moz-transition: all 300ms ease-in-out
            .bg-overlay
              position: absolute
              height: 100%
              width: 100%
              opacity: 0.5
              background-color: #c6186f
              z-index: 2
            .caption-image
              max-width: 100%
              height: auto
              display: block
              z-index: 1
              position: absolute
            .caption-text-container
              z-index: 3
              position: relative
              top: 50%
              transform: translateY(-50%)
              -webkit-transform: translateY(-50%)
              -moz-transform: translateY(-50%)
              -o-transform: translateY(-50%)
              -ms-transform: translateY(-50%)
              color: white
              text-transform: uppercase
              text-align: center
              margin-left: 10px
              margin-right: 10px
              .client-name
                display: block
                font-family: "Gotham-Black", sans-serif
                font-size: 18px
                margin-bottom: 5px
              .project-title
                font-family: "Gotham-Book", sans-serif
                display: block
                font-size: 18px
                margin-bottom: 20px
              .read-text
                font-family: "Gotham-Black", sans-serif
                display: block
    .modal-content
      padding: 100px 0
      z-index: 2
      border: none
      border-radius: 2px
      -webkit-box-shadow: none
      -moz-box-shadow: none
      box-shadow: none
      background-color: white
      .close-modal
        position: absolute
        top: 25px
        right: 25px
        width: 75px
        height: 75px
        background-color: transparent
        cursor: pointer
        z-index: 3
        transition: all 300ms ease-in-out
        .lr
          z-index: 1051
          width: 1px
          height: 75px
          margin-left: 35px
          background-color: #222
          -webkit-transform: rotate(45deg)
          -ms-transform: rotate(45deg)
          transform: rotate(45deg)
          .rl
            z-index: 1052
            width: 1px
            height: 75px
            background-color: #222
            -webkit-transform: rotate(90deg)
            -ms-transform: rotate(90deg)
            transform: rotate(90deg)
        &:hover
          opacity: 0.5
        &:focus
          outline: none
      .modal-body
        padding-top: 0
        padding-bottom: 0
        color: #3b3b3b
        .modal-logo-container
          margin-top: 30px
          margin-bottom: 60px
          margin-left: auto
          margin-right: auto
          width: 320px
          .modal-client-logo
            display: block
            margin-left: auto
            margin-right: auto
            &.horizontal-logo
              max-width: 75%
              height: auto
            &.big-logo
              max-width: 60%
              height: auto
        .modal-list-container
          position: relative
          margin-bottom: 60px
          .project-list
            display: block
            font-family: "Gotham-Book", sans-serif
            font-size: 18px
            margin-bottom: 10px
            text-align: center
        //No Video
        .modal-gallery-list
          position: relative
          margin-bottom: 60px
          .modal-gallery
            background-color: #f4f4f4
            display: block
            min-height: 272px
            margin-bottom: 15px
        .modal-gallery-container
          display: none
          .nav-tabs
            display: table
            margin-left: auto
            margin-right: auto
          .tab-content
            .tab-pane
              &#tab2
                max-width: 750px
                margin-left: auto
                margin-right: auto
              .modal-gallery-list
                margin-bottom: 60px
                .modal-gallery
                  background-color: #f4f4f4
                  display: block
                  min-height: 272px
                  margin-bottom: 15px
              .modal-video-container
                position: relative
                padding-bottom: 56.25%
                padding-top: 30px
                height: 0
                overflow: hidden
                .modal-video
                  position: absolute
                  top: 0
                  left: 0
                  width: 100%
                  height: 100%
        .modal-duration-container
          margin-bottom: 30px
          .modal-project-duration
            font-size: 18px
            display: block
            font-family: "Gotham-Book", sans-serif
            text-align: center


#about
  position: relative
  .left-section
    .header
      font-size: 48px
      font-family: "Gotham-Book", sans-serif
      text-transform: uppercase
      padding-top: 120px
      text-align: center
  .right-section
    padding-bottom: 70px
    .header
      font-size: 28px
      text-transform: uppercase
      display: block
      color: #e00076
      font-family: "Gotham-Bold", sans-serif
      margin-bottom: 10px
      padding-top: 80px
    .description
      font-size: 18px
      margin-bottom: 15px
      font-family: "Gotham-Book", sans-serif

#tagline
  position: relative
  width: 100%
  background-image: url("https://res.cloudinary.com/pocketrocket/image/upload/v1506340214/misc/help-banner.jpg")
  background-size: cover
  background-repeat: no-repeat
  .header
    padding: 115px 0
    margin-top: 0
    margin-bottom: 0
    text-align: center
    color: white
    font-family: "Gotham-Medium", sans-serif
    font-size: 48px
    line-height: 60px

#service
  position: relative
  padding-top: 100px
  padding-bottom: 100px
  .header-section
    padding-bottom: 30px
    .header
      font-size: 48px
      font-family: "Gotham-Book", sans-serif
      text-transform: uppercase
  .service-list
    padding-top: 60px
    min-height: 460px
    border: 5px solid rgba(224, 224, 224, 0.0)
    transition: 100ms all ease-in-out
    .caption-image
      max-width: 50%
      min-width: 50%
      height: auto
    .caption
      margin-top: 50px
      .caption-header
        display: block
        text-align: center
        margin-bottom: 15px
        font-family: "Gotham-Medium", sans-serif
        font-size: 24px
        text-transform: uppercase
      .caption-service
        font-family: "Gotham-Book", sans-serif
        display: block
        font-size: 16px
        text-align: center
      .caption-text
        margin-top: 15px
        font-family: "Gotham-Book", sans-serif
        display: block
        font-size: 16px
        text-align: center

#social-media
  padding-top: 80px
  padding-bottom: 80px
  position: relative
  .section-header
    padding-bottom: 40px
    .header
      text-align: center
      font-size: 48px
      font-family: "Gotham-Book", sans-serif
      text-transform: uppercase
  .social-media-container
    display: table
    margin-left: auto
    margin-right: auto
    .media-link
      margin-left: 30px
      margin-right: 30px
      display: inline-block
      outline: none
      text-decoration: none
      .media-image
        max-width: 90%
        min-width: 90%
#hiring
  background-color: #f4f4f4
  .section-header
    padding-top: 50px
    padding-bottom: 25px
    .header
      margin-top: 0
      margin-bottom: 0
      text-align: center
      font-size: 34px
      font-family: "Gotham-Book", sans-serif
      text-transform: uppercase
      letter-spacing: 4px
  .content-section
    padding-bottom: 50px
    ul
      list-style: none
      padding-left: 0
      li
        float: left
        width: 25%
        position: relative
        &:nth-child(3), &:nth-child(7), &:nth-child(11), &:nth-child(15)
          &:before
            top: 50%
            transform: translateY(-50%)
            -webkit-transform: translateY(-50%)
            -moz-transform: translateY(-50%)
            -o-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            position: absolute
            content: "•"
        &:nth-child(even)
          &:before
            top: 50%
            transform: translateY(-50%)
            -webkit-transform: translateY(-50%)
            -moz-transform: translateY(-50%)
            -o-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            position: absolute
            content: "•"
      .position-list
        .position-link
          display: block
          text-decoration: none
          outline: none
          font-family: "Gotham-Book", sans-serif
          color: #3b3b3b
          text-align: center
          font-size: 20px

#contact
  position: relative
  background-color: #b3d235
  padding: 80px 0 60px
  .left-section
    .contact-detail
      font-family: "Gotham-Book", sans-serif
      .header-section
        .header
          margin-top: 20px
          font-size: 44px
          text-transform: uppercase
          letter-spacing: 4px
          margin-bottom: 30px
        .sub-text
          display: block
          font-size: 24px
          margin-bottom: 60px
      .contact-section
        .contact-list
          position: relative
          margin-bottom: 30px
          .contact-icon
            display: block
            position: absolute
            top: 0
            left: 0
          .contact-text
            margin-left: 60px
            display: block
            font-size: 18px

  .right-section
    .form
      .form-item-list
        margin-bottom: 20px
        font-family: "Gotham-Book", sans-serif
        .form-item
          font-size: 16px
          border-radius: 0
          height: 45px
          //&:focus
          //  border-color: #c6e835
          //  box-shadow: inset 0 1px 1px rgba(198,232,53,.075), 0 0 8px rgba(197,232,53,.6)
        .text-area
          font-size: 16px
          border-radius: 0
          resize: none
      .form-button
        #ss-submit
          cursor: pointer
          color: white
          font-family: "Gotham-Book", sans-serif
          background-color: #81a100
          width: fit-content
          float: right
          border-radius: 0
          letter-spacing: 1px
          outline: none
          border: none
          font-size: 14px
          height: 30px
          padding: 0 22px
          text-decoration: none
    .modal.fade
      .modal-dialog
        position: absolute
        top: 40%
        left: 0
        right: 0
        opacity: 0
        -webkit-transform: translateY(-40%)
        -ms-transform: translateY(-40%)
        -o-transform: translateY(-40%)
        transform: translateY(-40%)
        -webkit-transition: all 0.3s ease
        -moz-transition: all 0.3s ease
        -o-transition: all 0.3s ease
        transition: all 0.3s ease


      &.in .modal-dialog
        margin-top: 0
        margin-bottom: 0
        position: absolute
        top: 40%
        opacity: 1
        -webkit-transform: translateY(-40%)
        -ms-transform: translateY(-40%)
        -o-transform: translateY(-40%)
        transform: translateY(-40%)


    .modal-content
      border: none
      border-radius: 2px
      -webkit-box-shadow: none
      -moz-box-shadow: none
      box-shadow: none
      padding: 8% 5%
      background-color: #b3d235
      .close
        position: absolute
        right: -19px
        top: -20px
        z-index: 5
        opacity: 1
        outline: none
        &:hover
          opacity: 1
      .text-alert
        margin: 20px auto
        color: white
        text-align: center
        font-family: "Gotham-Book", sans-serif



.modal-backdrop
  background-color: white !important
  &.in
    opacity: 1 !important

//    SWIPER SECTIon
#swiper-button-container
  position: absolute
  height: 100%
  top: 0
  .swiper-button-next
    background-image: url("/img/right-button.png") !important
    background-size: 90% !important
    height: 63px!important
    width: 63px!important
    top: 52% !important
    margin-top: 0 !important
    right: 0 !important

  .swiper-button-prev
    left: 0 !important
    background-image: url("/img/left-button.png") !important
    background-size: 90% !important
    height: 63px!important
    width: 63px!important
    top: 52% !important
    margin-top: 0 !important


footer
  position: relative
  padding-top: 30px
  padding-bottom: 30px
  .content-container
    .section-copyright
      display: block
      font-size: 18px
      font-family: "Gotham-Book", sans-serif
      text-align: center


@media (min-width: 1500px)
  #cover
    height: 650px
    .container-fluid
      .bs-slider
        max-height: 650px

  #tagline
    .header
      padding: 150px 0

@media (max-width: 1400px)
  #cover
    .container-fluid
      #bootstrap-touch-slider
        .carousel-inner
          .item
            .slide-text
              .slide-header
                font-size: 110px

  #project
    #project-container-fluid
      .header-section
        padding-top: 70px
      .swiper-container
        margin-top: 30px


  #service
    .service-list
      .caption-image
        max-width: 40%
        min-width: 40%

@media (max-width: 1200px)
  nav
    &.navbar-default
      .navbar-header
        .navbar-brand
          margin-top: 40px
          .brand-logo
            height: 30px

  #cover
    height: 480px
    .container-fluid
      #bootstrap-touch-slider
        .carousel-inner
          .item
            .slide-text
              .slide-header
                font-size: 90px

  #project
    #project-container-fluid
      .header-section
        padding-top: 50px
        .header
          font-size: 38px
      .swiper-container
        .swiper-wrapper
          min-height: 240px
          height: 240px
          .swiper-slide
            .caption
              .swiper-project
                font-size: 16px

  #client
    #client-container-fluid

      .header-section
        .header
          font-size: 32px
      .swiper-container
        max-width: 750px
        .swiper-wrapper
          .swiper-slide
            min-height: 245px

      .modal-content
        .modal-body
          .modal-logo-container
            width: 310px
            margin-top: 20px
            margin-bottom: 40px
            .modal-client-logo
              &.big-logo
                max-width: 55%
          .modal-gallery-container
            margin-bottom: 40px
            .modal-gallery
              min-height: 0
          .modal-list-container
            margin-bottom: 40px


  #about
    .left-section
      .header
        padding-top: 110px
        font-size: 44px

  #tagline
    .header
      font-size: 38px
      padding: 100px 0
      line-height: 50px

  #service
    padding-top: 60px
    padding-bottom: 60px
    .header-section
      padding-bottom: 20px
      .header
        font-size: 44px

  #contact
    padding: 60px 0 50px
    .left-section
      .contact-detail
        .header-section
          .header
            margin-bottom: 20px
            font-size: 38px
          .sub-text
            font-size: 22px
            margin-bottom: 50px


  #social-media
    .section-header
      .header
        font-size: 44px
    .social-media-container
      .media-link
        margin-left: 15px
        margin-right: 15px
        .media-image
          max-width: 70%
          min-width: 70%

  #hiring
    .content-section
      ul
        .position-list
          .position-link
            font-size: 18px

@media (max-width: 991px)
  body
    margin-top: 70px
      //#e00076
  nav
    position: relative
    margin-bottom: 0

    &.navbar-default
      .container
        width: 100%
        .navbar-header
          margin-left: 0
          margin-right: 0
          float: none
          .navbar-brand
            margin-left: 30px
            margin-top: 20px
            margin-bottom: 20px
            .brand-logo
              height: 30px
        .navbar-right
          margin: 15px auto
          float: none !important
          display: block !important
          padding-left: 0
          .navbar-list
            width: 100%
            margin: 0 auto
            transform: none
            float: none
            .navbar-link
              text-align: center
              font-size: 14px
              padding-top: 20px
              padding-bottom: 20px

    .navbar-toggle
      display: block
      background-color: #e00076
      border-color: #e00076 !important
      position: absolute
      right: 0
      top: 0
      margin: 18px 30px
      padding: 9px 6px

      &:hover, &:focus
        background-color: #e00076 !important
      .icon-bar
        background-color: white !important
        height: 2px
        width: 25px
    .navbar-collapse
      box-shadow: none
      -webkit-box-shadow: none
      background-color: white
      border: 1px solid #e7e7e7 !important
      margin-top: 15px
      max-height: none !important
    .navbar-collapse.collapse
      border: 1px solid #e7e7e7 !important
      display: none !important
    .collapse.in
      border: 1px solid #e7e7e7 !important
      display: block !important
      overflow-x: hidden !important



  #project
    #project-container-fluid
      .header-section
        padding-top: 30px
        .header
          font-size: 28px
      .swiper-container
        margin-bottom: 30px

  #client
    #client-container-fluid
      .modal-content
        .close-modal
          height: 65px
          width: 65px
          .lr
            height: 55px
            .rl
              height: 55px
      .header-section
        padding-top: 40px
        padding-bottom: 40px
        .header
          font-size: 24px
      .swiper-container
        max-width: 550px
        margin-bottom: 120px
        .swiper-wrapper
          min-height: 260px
          .swiper-slide
            .caption
              display: none
      #swiper-button-container
        position: relative
        width: 100%
        bottom: 0
        top: auto
        .swiper-button-next
          height: 55px !important
          width: 55px !important
          margin-top: 0 !important
          bottom: 35px
          top: auto!important
          //right: 230px!important
          right: 25%!important
        .swiper-button-prev
          height: 55px !important
          width: 55px !important
          margin-top: 0 !important
          bottom: 35px
          top: auto!important
          left: 25%!important
          //left: 230px!important




  #about
    .container
      padding-left: 30px
      padding-right: 30px
    .left-section
      .header
        margin: 0
        padding-top: 40px
        font-size: 32px
        text-align: left
    .right-section
      padding-bottom: 40px
      .header
        padding-top: 40px
        font-size: 22px
      .description
        font-size: 16px

  #tagline
    .header
      font-size: 32px
      line-height: 40px
      padding: 80px 0

  #service
    padding-top: 40px
    padding-bottom: 40px
    .container
      padding-left: 30px
      padding-right: 30px
      .header-section
        .header
          margin: 0
          font-size: 32px
      .service-list
        max-width: 320px
        margin-left: auto
        margin-right: auto
        min-height: 0
        padding-top: 30px
        padding-bottom: 30px
        margin-bottom: 30px
        .caption-image
          max-width: 50%
          min-width: 50%
        .caption
          .caption-header
            color: #e00076
            font-size: 22px

  #contact
    padding-top: 40px
    padding-bottom: 40px
    .container
      padding-left: 30px
      padding-right: 30px
      .left-section
        padding-bottom: 30px
        .contact-detail
          .header-section
            .header
              font-size: 32px
          .contact-section
            margin-left: 30px
      .right-section
        margin-bottom: 30px

  #social-media
    padding-top: 40px
    padding-bottom: 40px
    .section-header
      padding-bottom: 30px
      .header
        font-size: 32px
    .social-media-container
      .media-link
        .media-image
          max-width: 60%
          min-width: 60%

  #hiring
    .section-header
      padding-top: 40px
      .header
        font-size: 32px
    .content-section
      padding-bottom: 40px
      ul
        li
          width: 100%
          margin-bottom: 15px
          &:before
            display: none

@media (max-width: 767px)

  #cover
    height: 380px
    .container-fluid
      #bootstrap-touch-slider
        .carousel-inner
          .item
            .slide-text
              .slide-header
                font-size: 72px
              .slide-image-animation
                max-width: 35%
                min-width: 35%
              .slide-description
                margin-top: 30px
                font-size: 18px
                line-height: 24px

  #project
    #project-container-fluid
      .header-section
        .header
          font-size: 24px
      .swiper-container
        .swiper-wrapper
          min-height: 0
          height: 200px
          .swiper-slide
            .caption
              .swiper-client
                max-width: 100%
                font-size: 14px
              .swiper-project
                max-width: 100%
                font-size: 12px

  #client
    #client-container-fluid
      padding-left: 30px
      padding-right: 30px
      .modal-content
        .modal-body
          .modal-logo-container
            .modal-client-logo
              &.big-logo
                max-width: 45%

          .modal-list-container
            .project-list
              font-size: 16px
          .close-modal
            height: 45px
            width: 45px
            .lr
              margin-left: 22px
              height: 45px
              .rl
                height: 45px

      .header-section
        padding-left: 30px
        padding-right: 30px
        .header
          font-size: 22px
      .swiper-container
        max-width: 100%
        margin-left: 30px
        margin-right: 30px
        .swiper-wrapper
          .swiper-slide
            min-height: 250px
      #swiper-button-container
        position: relative
        .swiper-button-next
          height: 45px !important
          width: 45px !important
          bottom: 40px !important
        .swiper-button-prev
          bottom: 40px !important
          height: 45px !important
          width: 45px !important
  #about
    .left-section
      .header
        font-size: 28px
    .right-section
      .header
        padding-top: 30px
        font-size: 20px

  #tagline
    .header
      font-size: 28px
      padding: 70px 0

  #service
    .container
      .header-section
        .header
          font-size: 28px

  #contact
    .container
      .left-section
        .contact-detail
          .header-section
            .header
              font-size: 28px
            .sub-text
              margin-bottom: 30px
              font-size: 20px


  #social-media
    .section-header
      .header
        font-size: 28px

  #hiring
    .section-header
      .header
        font-size: 28px

  footer
    .content-container
      .section-copyright
        font-size: 16px

@media (max-width: 568px)
  body
    margin-top: 65px
  nav
    &.navbar-default
      .container
        .navbar-header
          .navbar-brand
            margin-left: 15px
            .brand-logo
              height: 25px
    .navbar-toggle
      margin-right: 15px
      padding: 5px 6px
      margin-top: 20px
      margin-bottom: 20px
      .icon-bar
        width: 22px
        height: 2px

  #cover
    height: 220px
    .container-fluid
      #bootstrap-touch-slider
        .carousel-inner
          .item
            .slide-text
              .slide-header
                font-size: 48px
              .slide-image-animation
                max-width: 25%
                min-width: 0
              .slide-description
                margin-top: 15px
                margin-bottom: 0
                font-size: 14px
                line-height: 24px

  #project
    #project-container-fluid
      .header-section
        .header
          font-size: 16px
      .swiper-container
        .swiper-wrapper
          height: 160px
          .swiper-slide
            .caption
              right: 10px

  #client
    #client-container-fluid
      padding-left: 15px
      padding-right: 15px
      .header-section
        padding-left: 0
        padding-right: 0
        .header
          font-size: 16px
      .swiper-container
        margin-left: 0
        margin-right: 0
        margin-bottom: 90px
        .swiper-wrapper
          .swiper-slide
            min-height: 160px
      #swiper-button-container
        .swiper-button-next
          height: 35px !important
          width: 35px !important
          bottom: 30px !important
        .swiper-button-prev
          height: 35px !important
          width: 35px !important
          bottom: 30px !important
  #about
    .container
      padding-left: 15px
      padding-right: 15px
      .left-section
        .header
          font-size: 24px
      .right-section
        .header
          padding-top: 20px
          font-size: 18px
        .description
          font-size: 14px

  #tagline
    .header
      font-size: 22px
      padding: 50px 0
      line-height: 34px

  #service
    .container
      .header-section
        .header
          font-size: 24px
      .service-list
        max-width: 280px
        margin-bottom: 15px
        padding-top: 15px
        padding-bottom: 15px

        .caption-image
          max-width: 40%
          min-width: 40%
        .caption
          margin-top: 30px
          .caption-header
            font-size: 18px
          .caption-service
            font-size: 14px
          .caption-text
            font-size: 14px

  #contact
    .container
      padding-left: 15px
      padding-right: 15px
      .left-section
        .contact-detail
          .header-section
            .header
              font-size: 24px
              margin-top: 0
              margin-bottom: 20px
            .sub-text
              font-size: 16px
          .contact-section
            margin-left: 0
            .contact-list
              .contact-icon
                height: 25px
              .contact-text
                font-size: 16px
                margin-left: 45px
      .right-section
        padding-left: 0
        padding-right: 0
        margin-bottom: 0

  #social-media
    .section-header
      padding-bottom: 15px
      .header
        font-size: 24px
    .social-media-container
      .media-link
        margin-left: 0
        margin-right: 0
        .media-image
          max-width: 50%
          min-width: 50%

  #hiring
    .section-header
      .header
        font-size: 24px
    .content-section
      ul
        .position-list
          .position-link
            font-size: 16px

  footer
    max-width: 80%
    min-width: 80%
    margin-right: auto
    margin-left: auto
    .content-container
      .section-copyright
        font-size: 14px

@media (max-width: 320px)
  footer
    max-width: 93%
    min-width: 93%

















