<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="">
  <meta name="keywords" content="pocket rocket, advertising, advertising agency, events, activations, promotions, merchandising, video production, tv, print, radio, out of home, digital, social media,">

  <meta property="og:image" content="http://www.pocketrocketinc.com/img/rocket-logo.png">
  <meta property="og:description" content="Pocket Rocket is a full-service advertising agency in Manila. Helping you create impactful customer experiences.">
  <meta property="og:url" content="http://www.pocketrocketinc.com/">
  <meta property="og:title" content="PocketRocketInc">
	
  <title>{{ site.title }} </title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
  <link rel="stylesheet" href="/css/bootstrap-touch-slider.css">
  <link rel="stylesheet" href="/css/uncover.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/home.css">


 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108011661-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108011661-1');
</script>


  <!-- Facebook Pixel Code -->
  <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window,document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '241783500006548');
      fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=241783500006548&ev=PageView &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->



</head>
<body>
<div class="loader">
  <div class="loader-container">
  <img src="/img/page-loader.gif" class="loader-image"/>
    <h2 class="loader-text">PAGE IS LOADING</h2>
  </div>
</div>
{% include navbar.html %}
{{ content }}
{% include footer.html %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/modernizr.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-touch-slider.js"></script>
<script type="text/javascript" src="/js/plugins/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/js/plugins/anime.min.js"></script>
<!--<script type="text/javascript" src="/js/plugins/uncover.js"></script>-->
<!--<script type="text/javascript" src="/js/plugins/demo1.js"></script>-->
<script type="text/javascript" src="/js/main.js"></script>


</body>
</html>
