<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.title }}">
  <meta name="keywords" content="pocket rocket, advertising, advertising agency, events, activations, promotions, merchandising, video production, tv, print, radio, out of home, digital, social media,">

  <!--<meta property="og:image" content="https://www.snap-res.com/img/brand-logo.svg">-->
  <!--<meta property="og:description" content="SNAP-RES provides innovative energy solutions that complement unique requirements through our simple, fair and transparent contractual products.">-->
  <!--<meta property="og:url" content="https://www.snap-res.com/">-->
  <!--<meta property="og:title" content="SNAP-RES">-->

  <title>{{ site.title}} </title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/bootstrap-touch-slider.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">



</head>
<body>
<div class="loader">
  <div class="loader-container">
  <img src="/img/page-loader.gif" class="loader-image"/>
    <h2 class="loader-text">PAGE IS LOADING</h2>
  </div>
</div>
{% include navbar.html %}
{{ content }}
<!--{% include footer.html %}-->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/modernizr.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-touch-slider-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>


</body>
</html>
