<div id="client-container-fluid" class="container no-gutter">
    <div class="header-section">
        <h1 class="header text-center">It's been a blast working with these awesome folks.</h1>
    </div>

    <div id="swiper-container2" class="swiper-container">
        <div class="swiper-wrapper">
            {% assign sorted-client = site.data.client | sort: "id" %}
            {% for client in sorted-client %}
            <a class="swiper-link swiper-slide"  data-toggle="modal" data-target="#modal-{{ client.id }}" data-logo-type="{{ client.logo-type }}" data-client-logo="{{ client.client-logo }}" data-client-duration="{{ client.project-duration }}" data-project-list="{% for list in client.project-list %} <span class='project-list'> {{ list.project-name }} </span> {% endfor %}" data-gallery="{% for gallery in client.project-gallery %} <img class='modal-gallery lazy img-responsive center-block'  src='{{ gallery.gallery-image }}'/> {% endfor %}" data-video="{{ client.project-video-link }}" data-hover="{{ client.cover-image }}">
                <img class="swiper-lazy swiper-image {{ client.logo-type }}" data-src="{{ client.client-logo }}" data-id="slug-{{ client.id }}" />
                <!-- Preloader image -->
                <div class="preloader swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                <div class="caption">
                    <div class="bg-overlay"></div>
                    <img src="" class="caption-image"/>
                    <div class="caption-text-container">
                        <span class="client-name">{{ client.client }}</span>
                        <span class="project-title">{{ client.project-title }}</span>
                        <span class="read-text">+ read more</span>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div id="swiper-button-container" class="container no-gutter">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <div class="modal fade"  id="modal-1" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body container">
                <div class="modal-logo-container">
                    <img class="modal-client-logo" src=""/>
                </div>
                <div class="modal-list-container"></div>
                <div id="modalWithVideo" class="modal-gallery-container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab1" id="photo-button" role="tab" data-toggle="tab" class="tab-link tab-1">
                                <img src="https://res.cloudinary.com/pocketrocket/image/upload/v1538970351/misc/photo-camera.png" class="tab-icon"/>
                                <span class="tab-text">Photo</span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#tab2" id="video-button" role="tab" data-toggle="tab" class="tab-link tab-2">
                                <img src="https://res.cloudinary.com/pocketrocket/image/upload/v1538970351/misc/video-symbol-of-black-camera.png" class="tab-icon"/>
                                <span class="tab-text">Video</span>
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active" id="tab1">
                            <div class="modal-gallery-list"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab2">
                            <div class="modal-video-container">
                                <iframe id="videoIframe" class="modal-video" src="" frameBorder="0" allowFullScreen="allowFullScreen" ></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="modalWithoutVideo" class="modal-gallery-list"></div>

                <div class="modal-duration-container">
                    <span class="modal-project-duration"></span>
                </div>
            </div>
        </div>
    </div>
</div>

