<div id="client-container-fluid" class="container no-gutter">
    <div class="header-section">
        <h1 class="header text-center">It's been a blast working with these awesome folks.</h1>
    </div>

    <div id="swiper-container2" class="swiper-container">
        <div class="swiper-wrapper">
            {% assign sorted-client = site.data.client | sort: "id" %}
            {% for client in sorted-client %}
            <div class="swiper-slide">
                <img class="swiper-lazy swiper-image" data-src="{{ client.cover-image }}" data-srcset="{{ client.cover-image }}" data-id="slug-{{ client.id }}" />
                <!-- Preloader image -->
                <div class="preloader swiper-lazy-preloader swiper-lazy-preloader-black"></div>

                <!--<div class="swiper-bg"></div>-->
                <!--<div class="caption">-->
                    <!--<span class="swiper-client">{{ client.client }}</span>-->
                    <!--<span class="swiper-client">{{ client.client-title }}</span>-->
                <!--</div>-->
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

</div>

