<div class="container">
    <div class="left-section col-md-6">
        <div class="header-section">
            <h2 class="header">Contact Us</h2>
            <span class="sub-text">We'd love to hear from you.</span>
        </div>
        <div class="contact-section">
            <div class="contact-list">
                <span></span>
            </div>
            <div class="contact-list"></div>
            <div class="contact-list"></div>
        </div>
    </div>
    <div class="right-section col-md-6"></div>
</div>