<div class="container-fluid no-gutter">
    <div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

        <!-- Indicators -->
        <ol class="carousel-indicators hidden">
            <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper For Slides -->
        <div class="carousel-inner" role="listbox">

            {% for slider in site.data.homeSlider %}
            <div {% if slider.id == 1 %} class="item active" {% else %} class="item" {% endif %}>

                <!-- Slide Background -->
                <img src="{{ slider.bg-image }}" alt="Bootstrap Touch Slider" class="slide-image"/>

                <!-- Slide Text Layer -->
                <div class="slide-text slide_style_center">
                    {% if slider.title != null %}
                    <h1 data-animation="animated {{ slider.effect }}" class="slide-header">{{ slider.title }}</h1>
                    {% endif %}
                    {% if slider.logo != null %}
                    <img data-animation="animated {{ slider.effect }}" class="slide-image" src="{{ slider.logo }}"/>
                    {% endif %}
                    {% if slider.description != null %}
                    <p data-animation="animated {{ slider.effect }}" class="slide-description">{{ slider.description }}</p>
                    {% endif %}
                </div>

            </div>
            {% endfor %}
            <!-- End of Slide -->
        </div><!-- End of Wrapper For Slides -->
    </div> <!-- End  bootstrap-touch-slider Slider -->
</div>