<div class="container-fluid no-gutter">

    <div id="bootstrap-touch-slider" class="carousel fade bs-slider control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="4000" >

        <!-- Indicators -->
        <ol class="carousel-indicators hidden">
            {% for sliderIndicator in site.data.homeSlider %}
            <li  data-slide-to="{{ forloop.index0 }}"{% if forloop.first %} class="active pagination-item"{% else %} class="pagination-item" {% endif %}></li>
            {% endfor %}
        </ol>

        <!-- Wrapper For Slides -->
        <div class="carousel-inner" role="listbox">

            {% for slider in site.data.homeSlider %}
            <div {% if forloop.first %} class="item active" {% else %} class="item" {% endif %}>

                <!-- Slide Background -->
                <div class="slide-image" style="background-image: url('{{ slider.bg-image }}'); "></div>
                <!-- Slide Text Layer -->
                <div class="slide-text slide_style_center">
                    {% if slider.title != null %}
                    <h1 data-animation="animated fadeIn" class="slide-header">{{ slider.title }}</h1>
                    {% endif %}
                    {% if slider.logo != null %}
                    <img data-animation="animated fadeIn" class="slide-image-animation" src="{{ slider.logo }}"/>
                    {% endif %}
                    {% if slider.description != null %}
                    <p data-animation="animated fadeIn" class="slide-description">{{ slider.description }}</p>
                    {% endif %}
                </div>

            </div>
            {% endfor %}
            <!-- End of Slide -->
        </div><!-- End of Wrapper For Slides -->
    </div> <!-- End  bootstrap-touch-slider Slider -->
</div>