<div id="image-slider"></div>
<div id="bg-overlay"></div>
<div class="container section-container">
    <div class="section-content">
        <div class="intro-top">
            <h2 class="rotating-text">We help you reduce your <br> carbon footprint.</h2>


        </div>
        <div class="intro-middle">
            <h2 class="intro-header">All you need is your recent power bill to get started. We can provide a free assessment to help you decide on the energy plan that best suits you.</h2>
        </div>

        <div class="intro-bottom">
            <a href="/retail-electricity/" class="intro-link-left" target="_blank">How do I switch?</a>
            <a href="/our-energy/" class="intro-link-right" target="_blank">Explore our energy plans</a>
        </div>
    </div>
</div>
