<div id="project-container-fluid" class="container-fluid no-gutter">
    <div class="header-section">
        <h1 class="header text-center">Our Latest Projects</h1>
    </div>

    <div id="swiper-container1" class="swiper-container">
        <div class="swiper-wrapper">
            {% for project in site.data.latestProject reversed %}
            <div class="swiper-slide">
                <img data-src="{{ project.cover-image }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="swiper-lazy img-responsive center-block"/>
                <!-- Preloader image -->
                <div class="preloader swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                <div class="swiper-bg"></div>
                <div class="caption">
                    <span class="swiper-client">{{ project.client }}</span>
                    <span class="swiper-project">{{ project.project-title }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>